version: '3'
services:
  react-frontend:
    build:
      context: ./react-frontend
    ports:
      - "3000:3000"
    depends_on:
      - python-backend
    networks:
      - SEVY_network

  python-backend:
    build:
      context: ./python-backend
    ports:
      - "5001:5000" # external port 5001 is mapped to the internal port 5000 of the Python backend container
    networks:
      - SEVY_network

  frontend-v2:
    build:
      context: ./frontend-v2
    ports:
      - "3001:3001"
    networks:
      - SEVY_network

networks:
  SEVY_network:
    driver: bridge
