/* Apply box-sizing to all elements */
* {
  box-sizing: border-box;
}

/* Reset padding and margins */
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* Prevent horizontal scrolling */
}

body {
  background-color: #f7f7f7;
  font-family: Arial, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

/* Gradient animation for SEVY AI button */
@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* NavBar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw;
  background-color: #ffb3c1;
  color: #333;
  /* Dark Gray Text */
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #333;
}

.navbar-right button {
  margin-left: 1vw;
  padding: 1vh 1.5vw;
  background-color: #b3e5fc;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 5px;
}

.navbar-right button:hover {
  background-color: #b4f8c8;
}

.navbar-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navbar-logo {
  height: 5vh;
  width: auto;
}

.navbar-links {
  display: flex;
  margin-left: 2vw;
  color: #333
}

.navbar-links button {
  margin: 0 1vw;
  padding: 1vh 1.5vw;
  background-color: #b3e5fc;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 5px;
}

.navbar-links button:hover {
  background-color: #b4f8c8;
}

/* Chat Box */
.chat-box {
  position: fixed;
  bottom: 2vh;
  right: 2vw;
  width: 30vw;
  max-width: 400px;
  z-index: 1000;
  background-color: white;
  border: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 80vh;
  overflow: hidden;
}

/* Header with Minimize Button */
.chat-box .header {
  background: linear-gradient(45deg, #2196F3, #FF4081);
  background-size: 200% 200%;
  animation: gradientShift 10s ease infinite;
  color: #fff;
  padding: 1.5vh;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.minimize-btn {
  background-color: #e6e6fa;
  border: none;
  padding: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 5px;
  line-height: 1;
}

.minimize-btn:hover {
  background-color: #d8bfd8;
}

/* Minimized Chat Button */
.open-chat-btn {
  position: fixed;
  bottom: 2vh;
  right: 2vw;
  background: linear-gradient(45deg, #2196F3, #FF4081);
  background-size: 200% 200%;
  animation: gradientShift 8s ease infinite;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.open-chat-btn:hover {
  background: linear-gradient(45deg, #2196F3, #FF4081);
  background-size: 200% 200%;
  animation: gradientShift 1.5s ease infinite;
  color: #fff;
}

/* Chat messages area */
.chat-box .chat-messages {
  flex: 1;
  padding: 2vh;
  overflow-y: auto;
}

.chat-box .chat-message {
  margin-bottom: 1vh;
  padding: 1vh;
  border-radius: 5px;
}

.chat-box .chat-message.You,
.chat-box .chat-message.Bạn {
  background-color: #ffccd5;
  text-align: left;
}

.chat-box .chat-message.AI {
  background-color: #cce5ff;
  text-align: left;
}

.chat-box .chat-message p {
  margin: 0;
}

/* Input box */
.chat-box .chat-input {
  display: flex;
  padding: 1.5vh;
  border-top: 1px solid #ccc;
  background-color: white;
}

.chat-box .chat-input textarea {
  flex: 1;
  padding: 1.5vh;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 1vh;
  font-size: 1rem;
  overflow: hidden;
  resize: none;
}

.chat-box .chat-input button {
  padding: 1.5vh 2vw;
  border: none;
  border-radius: 5px;
  background-color: #e6e6fa;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  color: #333;
}

.chat-box .chat-input button:hover {
  background-color: #d8bfd8;
}

/* Developer Mode Toggle */
.chat-box .developer-mode-toggle {
  margin-top: 1vh;
  margin-bottom: 1vh;
  text-align: center;
  font-size: 1rem;
}

.chat-box .developer-mode-toggle label {
  font-weight: bold;
}

/* SEVY's Introduction Section */
.introduction-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.introduction-section {
  background-color: #b3e5fc;
  color: #333333;
  text-align: center;
  width: 100%;
  height: auto;
  border-radius: 0;
  padding: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.introduction-section h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.introduction-section p {
  font-size: 1.2rem;
  margin: 0.5rem;
}

/* SEVY Vision Section */
.vision-section {
  background-color: #ffc4d6;
  color: #333333;
  text-align: center;
  margin: 0;
  width: 100%;
  height: auto;
  padding: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vision-section h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.vision-section p {
  font-size: 1.2rem;
  margin: 0.5rem;
}

/* SEVY by The Numbers Section */
.numbers-section {
  color: #333;
  text-align: center;
  margin: 0;
  width: 100%;
  padding: 4%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.numbers-section h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.all-number-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.number-card {
  background-color: #d8bfd8;
  padding: 2rem;
  margin: 1rem;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 20vw;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.number-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.number-card h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.number-card p {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
}

/* Loading Bar */
.loading-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

/* SEVY AI Disclaimer */
.home-sevyai-disclaimer {
  background-color: #d8bfd8;
  color: #333;
  text-align: center;
  padding: 1vh 2vw;
  font-size: 0.85rem;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0;
}

.navbar-links .sevy-ai-button {
  background: linear-gradient(45deg, #2196F3, #FF4081);
  background-size: 200% 200%;
  animation: gradientShift 4s ease infinite;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.8rem;
  border-radius: 5px;
  padding: 1vh 1.5vw;
  margin-left: 1vw;
}

.navbar-links .sevy-ai-button:hover {
  background: linear-gradient(45deg, #2196F3, #FF4081);
  background-size: 200% 200%;
  animation: gradientShift 1.5s ease infinite;
  color: #fff;
}

/* Contact Section */
.contact-section {
  background-color: #b4f8c8;
  color: #333333;
  text-align: center;
  width: 100%;
  padding: 4%;
  border-radius: 0;
}

.contact-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.contact-section p {
  font-size: 1.2rem;
  margin: 0.5rem;
}

.contact-section a {
  color: #1a73e8;
  text-decoration: none;
}

.contact-section a:hover {
  text-decoration: underline;
}